In [27]:
from bk import bk
import pandas as pd
import dataframe_image as dfi
from slugify import slugify
from pathlib import Path

overview = pd.DataFrame()
overview.name='Monatliche Kosten im Verlgeich'

def df_style(val):
    return "font-weight: bold; background-color: yellow"

In [28]:
cars = [{'label': 'BMW D 2011',
         'acquisition_cost': 16903,
         'car_year': 2011,
         'interest_rate': 0.,
         'rest_value': 1500,
         'insurance_yearly': 775,
         'taxes_yearly': 230,
         'consumption': 6.38,
         'fuel_price': 1.19,
         'repairs_yearly': 2016.32,
         'millage_yearly': 26000,
         'holding_period': 6.85,
         'image_url': 'cars/bmw-3er-maximus.png',
         'web_url': 'https://de.wikipedia.org/wiki/BMW_E90'
        }]
cars.append({'label': 'Micra B 2010',
             'acquisition_cost': 3300,
             'car_year': 2011,
             'interest_rate': 0.,
             'rest_value': 200,
             'insurance_yearly': 361.76,
             'taxes_yearly': 64,
             'consumption': 6.6,
             'fuel_price': 1.36,
             'repairs_yearly': 395.40,
             'millage_yearly': 3216,
             'holding_period': 5.5,  
             'image_url': 'cars/nissan-micra.jpg',
             'web_url': 'https://de.wikipedia.org/wiki/Nissan_Micra#Micra_(K12,_2003%E2%80%932010)'
})
cars.append({'label': 'Mercedes D 2019',
             'acquisition_cost': 28890,
             'car_year': 2019,
             'interest_rate': 3.,
             'rest_value': 5000,
             'insurance_yearly': 775,
             'taxes_yearly': 230,
             'consumption': 6.,
             'fuel_price': 1.65,
             'repairs_yearly': 1800,
             'millage_yearly': 18000,
             'holding_period': 6.0,  
             'image_url': 'cars/mercedes-c-220d-t.png',
             'web_url': 'https://suchen.mobile.de/fahrzeuge/details.html?action=parkItem&id=336723447'
})
cars.append({'label': 'Mercedes B 2019',
             'acquisition_cost': 29970,
             'car_year': 2019,
             'interest_rate': 3.,
             'rest_value': 7000,
             'insurance_yearly': 775,
             'taxes_yearly': 136,
             'consumption': 8.,
             'fuel_price': 1.85,
             'repairs_yearly': 900,
             'millage_yearly': 18000,
             'holding_period': 6.0,  
             'image_url': 'cars/mercedes-c-200-t.png',
             'web_url': 'https://suchen.mobile.de/fahrzeuge/details.html?action=parkItem&id=327113608'
})
cars.append({'label': 'Tesla E 2022',
             'acquisition_cost': 51000,
             'car_year': 2022,
             'interest_rate': 3.,
             'rest_value': 5000,
             'insurance_yearly': 775,
             'taxes_yearly': 0,
             'consumption': 16.,
             'fuel_price': .3,
             'repairs_yearly': 500,
             'millage_yearly': 18000,
             'holding_period': 10.0,   
             'image_url': 'cars/tesla-model-y.jpg',
             'web_url': 'https://www.tesla.com/de_de/modely/design#overview'
})
cars.append({'label': 'Mazda B 2017',
             'acquisition_cost': 22980,
             'car_year': 2017,
             'interest_rate': 3.,
             'rest_value': 4000,
             'insurance_yearly': 775,
             'taxes_yearly': 136,
             'consumption': 8.,
             'fuel_price': 1.85,
             'repairs_yearly': 900,
             'millage_yearly': 18000,
             'holding_period': 4.0,  
             'image_url': 'cars/mazda-6-alt.png',
             'web_url': 'https://suchen.mobile.de/fahrzeuge/details.html?action=parkItem&id=332186075'
})
cars.append({'label': 'Mazda B 2022',
             'acquisition_cost': 29692,
             'car_year': 2022,
             'interest_rate': 3.,
             'rest_value': 3000,
             'insurance_yearly': 775,
             'taxes_yearly': 136,
             'consumption': 8.,
             'fuel_price': 2.00,
             'repairs_yearly': 900,
             'millage_yearly': 18000,
             'holding_period': 10.0,  
             'image_url': 'cars/mazda-6-neu.png',
             'web_url': 'https://konfigurator.meinauto.de/mazda/neuwagen/48-6/angebote/6-kombi/konfigurator/#!/extras/exclusive-line/8846370/10,11/private/65352-5416-204698/984/61c9aa657e74c/cash-purchase/32545--287374/48,0,10000,0,0,0,0,0,'
})
cars.append({'label': 'Kia B 2022',
             'acquisition_cost': 26992.36,
             'car_year': 2022,
             'interest_rate': 3.,
             'rest_value': 3000,
             'insurance_yearly': 775,
             'taxes_yearly': 136,
             'consumption': 7.,
             'fuel_price': 2.00,
             'repairs_yearly': 900,
             'millage_yearly': 18000,
             'holding_period': 10.0,
             'image_url': 'cars/kia-ceed-sportswagon.png',
             'web_url': 'https://konfigurator.meinauto.de/kia/neuwagen/cee-d/angebote/cee-d-sporty-wagon/konfigurator/#!/preisvergleich/platinum/8867329/3,7,18/private/109347-4167-291321/1321/61d21ce73c5db/cash-purchase/109348-8088-291322/48,0,10000,0,0,0,0,0,'
})
cars.append({'label': 'Superb D 2018',
             'acquisition_cost': 29460,
             'car_year': 2018,
             'interest_rate': 3.,
             'rest_value': 8000,
             'insurance_yearly': 775,
             'taxes_yearly': 230,
             'consumption': 6.5,
             'fuel_price': 1.65,
             'repairs_yearly': 1200,
             'millage_yearly': 18000,
             'holding_period': 6.0,
             'image_url': 'cars/skoda-superb.png',
             'web_url': 'https://suchen.mobile.de/fahrzeuge/details.html?id=336967099'
})
cars.append({'label': 'Octavia D 2019',
             'acquisition_cost': 16250,
             'car_year': 2019,
             'interest_rate': 3.,
             'rest_value': 4000,
             'insurance_yearly': 775,
             'taxes_yearly': 230,
             'consumption': 6.0,
             'fuel_price': 1.65,
             'repairs_yearly': 1200,
             'millage_yearly': 18000,
             'holding_period': 6.0,
             'image_url': 'cars/skoda-octavia.png',
             'web_url': 'https://suchen.mobile.de/fahrzeuge/details.html?id=333524150'
})

#cars

In [29]:
latex = ''
for car in cars:
    label=car['label']
    bk_inputs = a_subset = {key: car[key] for key in ['acquisition_cost', 
                                                      'holding_period',
                                                      'millage_yearly',
                                                      'consumption',
                                                      'fuel_price',
                                                      'repairs_yearly',  # bis hierher Hauptkosten
                                                      'interest_rate',
                                                      'taxes_yearly',
                                                      'insurance_yearly',
                                                      'rest_value']}
    (input_values, calc_values) = bk(**bk_inputs)
    
    input_values_path = 'images/' + slugify(label) + '-boundaries.png'
    calc_df_path = 'images/' + slugify(label) + '-calc_df.png'
    
    latex = r"""%s
\twocolumn

\section*{%s}
\begin{center}
\includegraphics[width=0.9\columnwidth]{%s}
\null
\vspace{0.5cm}
\includegraphics[width=0.9\columnwidth]{%s}
\end{center}

\pagebreak
\null
\vspace{2cm}
\begin{center}
\includegraphics[width=0.9\columnwidth]{%s}

%s, %d, Laufzeit: %.0f Jahre, \href{%s}{Weblink}
\end{center}

\pagebreak

""" %(latex,
      label,
      input_values_path,
      calc_df_path,
      car['image_url'],
      label,
      car['car_year'],
      car['holding_period'],
      car['web_url'].replace('#', '\#')
     )

    overview[label] = calc_values['Monatlich']
    
    
    sum_row = pd.IndexSlice[calc_values.index[calc_values.index == "SUMME"], :]
    #dfi.export(input_values.round(2), input_values_path)
    #dfi.export(calc_values.style.applymap(df_style, subset=sum_row).set_precision(2), calc_df_path)
    #display(input_values.round(2))
    #display(calc_values.style.applymap(df_style, subset=sum_row).set_precision(2))

In [30]:
overview_path = 'images/overview.png'

sum_row = pd.IndexSlice[calc_values.index[calc_values.index == "SUMME"], :]
#dfi.export(overview.style.applymap(df_style, subset=sum_row).set_precision(2), overview_path)
display(overview.style.applymap(df_style, subset=sum_row).set_precision(2))
latex = r"""%s

\pagebreak

\onecolumn
\null
\vfill 
\begin{center}
\includegraphics[width=0.95\columnwidth]{%s}
\end{center}
\vfill 
""" % (latex,
      overview_path)

C:\Users\lgi1sgm\.conda\envs\grzegorz\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  """

In [31]:
with open('report.tex', 'w') as fid:
    fid.write(r"""
\documentclass[landscape, DIV=99, 14pt]{scrartcl}

\renewcommand*{\familydefault}{\sfdefault}

\RequirePackage{graphicx}
\RequirePackage{hyperref}

\begin{document}

\twocolumn
\includegraphics[width=1.1\columnwidth]{images/kosten_verteilung.png}
\includegraphics[width=1.4\columnwidth]{images/kosten_maximus.png}

\pagebreak

\begin{itemize}
    \item Wertverlust
    \begin{itemize}
        \item Kaufpreis minus Verkaufspreis
        \item Kraftstoffe
        \item Summe aller Tankstellenbesuche
    \end{itemize}
    \item Wartung und Reparatur
    \begin{itemize}
        \item Regul\"are Wartungsarbeiten (\"Olwechsel, etc)
        \item Reparaturen Aufgrund technischer Defekte
        \item Unfallsch\"aden
    \end{itemize}
    \item Versicherung
    \begin{itemize}
        \item J\"ahrlicher Versicherungsbeitrag
        \item Mobilit\"ats-Service
    \end{itemize}
    \item Steuern
    \begin{itemize}
            \item J\"ahrliche KFZ-Steuer
    \end{itemize}
\end{itemize}

%s

\end{document}
""" % (latex))