In [1]:
from bk import Operating_Cost
import pandas as pd
import dataframe_image as dfi
from slugify import slugify
from pathlib import Path

overview = pd.DataFrame()
overview.name='Monatliche Kosten im Verlgeich'

def df_style(val):
    # return "font-weight: bold; background: yellow"
    return "font-weight: bold;"

def light_style(val):
    return "color: grey"

In [2]:
#d_0 = 1.52  # Aktueller Dieselpreis 3.1.2022: 1.52
b_0 = 1.70  # Aktueller Benzinpreis 3.1.2022: 1.56
e_0 = 0.31  # Aktueller Strompreis 3.1.2022: 0.31 €/kWh

cars = []          
cars.append({'label': 'Tesla Model Y',
             'acquisition_cost': 52970,
             'government_funding': 5000,
             'down_payment': 15000,
             'car_year': 2022,
             'delivery_time': 4,
             'interest_rate': 2.,
             'rest_value': 10000,
             'insurance_yearly': 459.78,
             'taxes_yearly': 0,
             'consumption': 16.,
             'power': 514,
             'fuel_price': e_0,
             'fuel_type': 'Strom',
             'fuel_unit': 'kWh',
             'repairs_yearly': 500,
             'millage_yearly': 15000,
             'holding_period': 7.0,   
             'image_url': 'cars/tesla-model-y.jpg',
             'web_url': 'https://www.tesla.com/de_de/modely/design#overview',
             'buy': True  # else lease
})             
cars.append({'label': 'Tesla Model Y',
             'instalment': 533,
             'government_funding': 5000,
             'down_payment': 8000,
             'car_year': 2022,
             'delivery_time': 4,
             'rest_value': 9000,
             'insurance_yearly': 566.90,
             'taxes_yearly': 0,
             'consumption': 16.,
             'power': 514,
             'fuel_price': e_0,
             'fuel_type': 'Strom',
             'fuel_unit': 'kWh',
             'repairs_yearly': 500,
             'millage_yearly': 15000,
             'holding_period': 4.0,   
             'image_url': 'cars/tesla-model-y-leasing.jpg',
             'web_url': 'https://www.tesla.com/de_de/modely/design#overview',
             'buy': False  # else lease
})             
cars.append({'label': 'Tesla Model 3',
             'acquisition_cost': 43970,
             'government_funding': 6000,
             'down_payment': 16000,
             'car_year': 2022,
             'delivery_time': 4,
             'interest_rate': 2.,
             'rest_value': 8500,
             'insurance_yearly': 544,
             'taxes_yearly': 0,
             'consumption': 15.,
             'power': 325,
             'fuel_price': e_0,
             'fuel_type': 'Strom',
             'fuel_unit': 'kWh',
             'repairs_yearly': 500,
             'millage_yearly': 15000,
             'holding_period': 7.0,   
             'image_url': 'cars/tesla-model-3.jpg',
             'web_url': 'https://www.tesla.com/de_de/model3/design#overview',
             'buy': True  # else lease
})          
cars.append({'label': 'Tesla Model 3',
             'instalment': 360,
             'government_funding': 6000,
             'down_payment': 9000,
             'car_year': 2022,
             'delivery_time': 4,
             'rest_value': 8500,
             'insurance_yearly': 673.60,
             'taxes_yearly': 0,
             'consumption': 15.,
             'power': 325,
             'fuel_price': e_0,
             'fuel_type': 'Strom',
             'fuel_unit': 'kWh',
             'repairs_yearly': 500,
             'millage_yearly': 15000,
             'holding_period': 4.0,   
             'image_url': 'cars/tesla-model-3-leasing.jpg',
             'web_url': 'https://www.tesla.com/de_de/model3/design#overview',
             'buy': False  # else lease
})
cars.append({'label': 'Mazda 6',
             'acquisition_cost': 30643.19,
             'government_funding': 0,
             'down_payment': 10000,
             'car_year': 2022,
             'delivery_time': 20,
             'interest_rate': 2.,
             'rest_value': 6000,
             'insurance_yearly': 510.90,
             'taxes_yearly': 156,
             'consumption': 8.,
             'power': 192,
             'fuel_price': b_0,
             'fuel_type': 'Benzin',
             'fuel_unit': 'l',
             'repairs_yearly': 900,
             'millage_yearly': 15000,
             'holding_period': 7.0,  
             'image_url': 'cars/mazda-6-neu.png',
             'web_url': 'https://konfigurator.meinauto.de/mazda/neuwagen/48-6/angebote/6-kombi/konfigurator/#!/extras/exclusive-line/8846370/10,11/private/65352-5416-204698/984/61c9aa657e74c/cash-purchase/32545--287374/48,0,10000,0,0,0,0,0,',
             'buy': True  # else lease
})
cars.append({'label': 'Mazda 6',
             'instalment': 284.70,
             'government_funding': 0,
             'down_payment': 3000,
             'car_year': 2022,
             'delivery_time': 60,
             'rest_value': 3000,
             'insurance_yearly': 629.91,
             'taxes_yearly': 156,
             'consumption': 8.,
             'power': 192,
             'fuel_price': b_0,
             'fuel_type': 'Benzin',
             'fuel_unit': 'l',
             'repairs_yearly': 900,
             'millage_yearly': 15000,
             'holding_period': 3,  
             'image_url': 'cars/mazda-6-leasing.png',
             'web_url': 'https://konfigurator.meinauto.de/mazda/neuwagen/48-6/angebote/6-kombi/konfigurator/#!/extras/exclusive-line/8846370/10,11,15/private/65352-5416-204698/984/61c9aa657e74c/leasing/16040--249432/36,3000,15000,0,0,0,0,0,',
             'buy': False  # else lease
})
cars.append({'label': 'Kia ceed',
             'acquisition_cost': 25209.43,
             'government_funding': 0,
             'down_payment': 10000,
             'car_year': 2022,
             'delivery_time': 52,
             'interest_rate': 2.,
             'rest_value': 5000,
             'insurance_yearly': 325.99,
             'taxes_yearly': 107,
             'consumption': 7.,
             'power': 160,
             'fuel_price': b_0,
             'fuel_type': 'Benzin',
             'fuel_unit': 'l',
             'repairs_yearly': 900,
             'millage_yearly': 15000,
             'holding_period': 7.0,
             'image_url': 'cars/kia-ceed-sportswagon.png',
             'web_url': 'https://konfigurator.meinauto.de/kia/neuwagen/cee-d/angebote/cee-d-sporty-wagon/konfigurator/#!/extras/spirit/8865371/3,11,27/private/109347-4167-291321/1321/61d21ce73c5db/cash-purchase/109348-8088-291322/48,0,10000,0,0,0,0,0,',
             'buy': True  # else lease
})
cars.append({'label': 'Kia ceed',
             'instalment': 227.42,
             'government_funding': 0,
             'down_payment': 3000,
             'car_year': 2022,
             'delivery_time': 52,
             'rest_value': 3000,
             'insurance_yearly': 395.58,
             'taxes_yearly': 107,
             'consumption': 7.,
             'power': 160,
             'fuel_price': b_0,
             'fuel_type': 'Benzin',
             'fuel_unit': 'l',
             'repairs_yearly': 900,
             'millage_yearly': 15000,
             'holding_period': 3.0,
             'image_url': 'cars/kia-ceed-sportswagon-leasing.png',
             'web_url': 'https://konfigurator.meinauto.de/kia/neuwagen/cee-d/angebote/cee-d-sporty-wagon/konfigurator/#!/extras/spirit/8865371/3,11,27/private/109347-4167-291321/1321/61d21ce73c5db/leasing/109348-8088-291322/36,3000,15000,0,0,0,0,0,',
             'buy': False  # else lease
})
cars.append({'label': 'VW Passat',
             'acquisition_cost': 30230.0,
             'government_funding': 0,
             'down_payment': 10000,
             'car_year': 2021,
             'delivery_time': 0,
             'interest_rate': 2.,
             'rest_value': 6000,
             'insurance_yearly': 351.35,
             'taxes_yearly': 98,
             'consumption': 7.5,
             'power': 150,
             'fuel_price': b_0,
             'fuel_type': 'Benzin',
             'fuel_unit': 'l',
             'repairs_yearly': 900,
             'millage_yearly': 15000,
             'holding_period': 7.0,
             'image_url': 'cars/vw-passat.jpg',
             'web_url': 'https://www.autosuche.de/auto/REVVNDQ3NjgwMjc5NzI=?t_manuf=BQ&t_petr=B&t_model=BQBM&t_gear=A&t_ez_fr=2020&t_pe_fr=35000&sort=PRICE_SALE&sortdirection=ASC&viewMode=tile',
             'buy': True  # else lease
})
cars.append({'label': 'VW Passat',
             'instalment': 194.18 + 4557.50/36,
             'government_funding': 0,
             'down_payment': 3000,
             'car_year': 2022,
             'delivery_time': 0,
             'rest_value': 3000,
             'insurance_yearly': 423.07,
             'taxes_yearly': 98,
             'consumption': 7.5,
             'power': 150,
             'fuel_price': b_0,
             'fuel_type': 'Benzin',
             'fuel_unit': 'l',
             'repairs_yearly': 900,
             'millage_yearly': 15000,
             'holding_period': 3.0,
             'image_url': 'cars/vw-passat-leasing.jpg',
             'web_url': 'https://www.autosuche.de/auto/REVVNDQ3NjgwMjc5NzI=?t_manuf=BQ&t_petr=B&t_model=BQBM&t_gear=A&t_ez_fr=2020&t_pe_fr=35000&sort=PRICE_SALE&sortdirection=ASC&viewMode=tile',
             'buy': False  # else lease
})
for car in cars:
    if car['buy']:
        factor = .5**(car['holding_period']/3)
        car['rest_value_thumb_value'] = r'Restwert nach Faustformel (Neupreis $\times$ %.1f\%%): %.2f \euro{}' % \
        (factor*100, car['acquisition_cost'] * factor)
    else:
        car['rest_value_thumb_value'] = r'Kein Restwert, da Leasingfahrzeug'

In [3]:
latex = ''
for car in cars:
    if car['buy']:
        label=car['label'] + ' Kaufen'
        bk_inputs = {key: car[key] for key in ['acquisition_cost', 
                                               'government_funding',
                                               'down_payment',
                                               'holding_period',
                                               'millage_yearly',
                                               'consumption',
                                               'fuel_price',
                                               'repairs_yearly',  # bis hierher Hauptkosten
                                               'interest_rate',
                                               'taxes_yearly',
                                               'insurance_yearly',
                                               'rest_value']}
        (input_values, calc_values) = Operating_Cost.buy(**bk_inputs).get_frames()
    else:
        label=car['label'] + ' Leasing'
        bk_inputs = {key: car[key] for key in ['instalment', 
                                               'government_funding',
                                               'down_payment',
                                               'holding_period',
                                               'millage_yearly',
                                               'consumption',
                                               'fuel_price',
                                               'repairs_yearly',  # bis hierher Hauptkosten
                                               'taxes_yearly',
                                               'insurance_yearly']}
        (input_values, calc_values) = Operating_Cost.lease(**bk_inputs).get_frames()
        
    input_values_path = Path('images/' + slugify(label) + '-boundaries.png')
    calc_df_path = Path('images/' + slugify(label) + '-calc_df.png')
    
    latex = r"""%s
\twocolumn

\section*{%s}
\begin{center}
\includegraphics[width=0.5\textheight]{%s}
\null
\vspace{0.5cm}
\includegraphics[width=0.5\textheight]{%s}
\end{center}

\pagebreak
\null
\vspace{2cm}
\begin{center}
\includegraphics[width=0.9\columnwidth]{%s}

%s
\end{center}

\begin{itemize}
    \item Baujahr: %d $\rightarrow$ Laufzeit: %.0f Jahre
    \item \href{%s}{Weblink}
    \item \emph{Gesch\"atzter} Spritpreis \"uber Haltedauer: %.2f \euro{}/%s
    \item Antrieb: %s, mit %d PS
    \item %s
\end{itemize}

\pagebreak

""" %(latex,
      label,
      input_values_path.as_posix(),
      calc_df_path.as_posix(),
      car['image_url'],
      label,
      car['car_year'],
      car['holding_period'],
      car['web_url'].replace('#', '\#'),
      car['fuel_price'],
      car['fuel_unit'],
      car['fuel_type'],
      car['power'],
      car['rest_value_thumb_value']
     )

    # calc_values.loc['Lieferzeit', :] = car['delivery_time']
    # calc_values.loc['Kraftstoffsorte', :] = car['fuel_type']
    # calc_values = calc_values.reindex(index = ['Lieferzeit',
    #                                            'Kraftstoffsorte',
    #                                            'Anschaffungskosten',
    #                                            'Zinsen',
    #                                            'Versicherung',
    #                                            'Steuern',
    #                                            'Reparaturen',
    #                                            'Verbrauch',
    #                                            'SUMME',
    #                                            'Restwert',
    #                                            'Summe mit Restwert'
    #                                           ])
    
    overview[label] = calc_values['Monatlich']
    
    input_values_path.parent.mkdir(parents=True, exist_ok=True)
    
    bold_row = pd.IndexSlice[calc_values.index[(calc_values.index == "Summe") | (calc_values.index == "Gesamtsumme")], :]
    light_row = pd.IndexSlice[calc_values.index[6:], :]
    
    dfi.export(input_values.round(2), str(input_values_path))
    dfi.export(calc_values.style.applymap(df_style, subset=bold_row)\
               .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))
    display(input_values.round(2))
    display(calc_values.style.applymap(df_style, subset=bold_row)\
               .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3831306871.py:105: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Anschaffungskosten [€]                                     52970.00
Anzahlung [€]                                              15000.00
davon staatliche Förderung [€]                              5000.00
Reale Anzahlung [€]                                        10000.00
Finanzierungszins [%]                                          2.00
Restwert [€]                                               10000.00
Versicherungskosten [€/a]                                    459.78
Steuern [€/a]                                                  0.00
Verbrauch in l/100 km                                         16.00
Durchschnittlicher Spritpreis über Haltedauer [...             0.31
Reparatur und Wartungskosten [€/a]                           500.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 7.00
Gesamtlaufleistung [km]                                   105000.00
Finanzierungsbetrag [€]                                    37970.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3831306871.py:108: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3831306871.py:105: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Leasingrate [€]                                              533.00
Anzahlung [€]                                               8000.00
davon staatliche Förderung [€]                              5000.00
Reale Anzahlung [€]                                         3000.00
Versicherungskosten [€/a]                                    566.90
Steuern [€/a]                                                  0.00
Verbrauch in l/100 km                                         16.00
Durchschnittlicher Spritpreis über Haltedauer [...             0.31
Reparatur und Wartungskosten [€/a]                           500.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 4.00
Gesamtlaufleistung [km]                                    60000.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3831306871.py:108: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3831306871.py:105: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Anschaffungskosten [€]                                     43970.00
Anzahlung [€]                                              16000.00
davon staatliche Förderung [€]                              6000.00
Reale Anzahlung [€]                                        10000.00
Finanzierungszins [%]                                          2.00
Restwert [€]                                                8500.00
Versicherungskosten [€/a]                                    544.00
Steuern [€/a]                                                  0.00
Verbrauch in l/100 km                                         15.00
Durchschnittlicher Spritpreis über Haltedauer [...             0.31
Reparatur und Wartungskosten [€/a]                           500.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 7.00
Gesamtlaufleistung [km]                                   105000.00
Finanzierungsbetrag [€]                                    27970.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3831306871.py:108: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3831306871.py:105: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Leasingrate [€]                                              360.00
Anzahlung [€]                                               9000.00
davon staatliche Förderung [€]                              6000.00
Reale Anzahlung [€]                                         3000.00
Versicherungskosten [€/a]                                    673.60
Steuern [€/a]                                                  0.00
Verbrauch in l/100 km                                         15.00
Durchschnittlicher Spritpreis über Haltedauer [...             0.31
Reparatur und Wartungskosten [€/a]                           500.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 4.00
Gesamtlaufleistung [km]                                    60000.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3831306871.py:108: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3831306871.py:105: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Anschaffungskosten [€]                                     30643.19
Anzahlung [€]                                              10000.00
davon staatliche Förderung [€]                                 0.00
Reale Anzahlung [€]                                        10000.00
Finanzierungszins [%]                                          2.00
Restwert [€]                                                6000.00
Versicherungskosten [€/a]                                    510.90
Steuern [€/a]                                                156.00
Verbrauch in l/100 km                                          8.00
Durchschnittlicher Spritpreis über Haltedauer [...             1.70
Reparatur und Wartungskosten [€/a]                           900.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 7.00
Gesamtlaufleistung [km]                                   105000.00
Finanzierungsbetrag [€]                                    20643.19

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3831306871.py:108: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3831306871.py:105: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Leasingrate [€]                                              284.70
Anzahlung [€]                                               3000.00
davon staatliche Förderung [€]                                 0.00
Reale Anzahlung [€]                                         3000.00
Versicherungskosten [€/a]                                    629.91
Steuern [€/a]                                                156.00
Verbrauch in l/100 km                                          8.00
Durchschnittlicher Spritpreis über Haltedauer [...             1.70
Reparatur und Wartungskosten [€/a]                           900.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 3.00
Gesamtlaufleistung [km]                                    45000.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3831306871.py:108: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3831306871.py:105: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Anschaffungskosten [€]                                     25209.43
Anzahlung [€]                                              10000.00
davon staatliche Förderung [€]                                 0.00
Reale Anzahlung [€]                                        10000.00
Finanzierungszins [%]                                          2.00
Restwert [€]                                                5000.00
Versicherungskosten [€/a]                                    325.99
Steuern [€/a]                                                107.00
Verbrauch in l/100 km                                          7.00
Durchschnittlicher Spritpreis über Haltedauer [...             1.70
Reparatur und Wartungskosten [€/a]                           900.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 7.00
Gesamtlaufleistung [km]                                   105000.00
Finanzierungsbetrag [€]                                    15209.43

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3831306871.py:108: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3831306871.py:105: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Leasingrate [€]                                              227.42
Anzahlung [€]                                               3000.00
davon staatliche Förderung [€]                                 0.00
Reale Anzahlung [€]                                         3000.00
Versicherungskosten [€/a]                                    395.58
Steuern [€/a]                                                107.00
Verbrauch in l/100 km                                          7.00
Durchschnittlicher Spritpreis über Haltedauer [...             1.70
Reparatur und Wartungskosten [€/a]                           900.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 3.00
Gesamtlaufleistung [km]                                    45000.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3831306871.py:108: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3831306871.py:105: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Anschaffungskosten [€]                                     30230.00
Anzahlung [€]                                              10000.00
davon staatliche Förderung [€]                                 0.00
Reale Anzahlung [€]                                        10000.00
Finanzierungszins [%]                                          2.00
Restwert [€]                                                6000.00
Versicherungskosten [€/a]                                    351.35
Steuern [€/a]                                                 98.00
Verbrauch in l/100 km                                          7.50
Durchschnittlicher Spritpreis über Haltedauer [...             1.70
Reparatur und Wartungskosten [€/a]                           900.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 7.00
Gesamtlaufleistung [km]                                   105000.00
Finanzierungsbetrag [€]                                    20230.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3831306871.py:108: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3831306871.py:105: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))

                                                    Randbedingungen
Leasingrate [€]                                              320.78
Anzahlung [€]                                               3000.00
davon staatliche Förderung [€]                                 0.00
Reale Anzahlung [€]                                         3000.00
Versicherungskosten [€/a]                                    423.07
Steuern [€/a]                                                 98.00
Verbrauch in l/100 km                                          7.50
Durchschnittlicher Spritpreis über Haltedauer [...             1.70
Reparatur und Wartungskosten [€/a]                           900.00
Jahreslaufleistung [km]                                    15000.00
Haltedauer [a]                                                 3.00
Gesamtlaufleistung [km]                                    45000.00

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3831306871.py:108: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2))

In [4]:
brk = 8

overview_path_1 = 'images/overview1.png'
overview_path_2 = 'images/overview2.png'

# sum_row = pd.IndexSlice[calc_values.index[(calc_values.index == "Summe") | (calc_values.index == "Gesamtsumme")], :]

dfi.export(overview.iloc[:, 0:brk ].style.applymap(df_style, subset=bold_row)\
               .applymap(light_style, subset=light_row).set_precision(2).set_precision(2), overview_path_1)
dfi.export(overview.iloc[:, brk: ].style.applymap(df_style, subset=bold_row)\
               .applymap(light_style, subset=light_row).set_precision(2).set_precision(2), overview_path_2)

display(overview.iloc[:, 0:brk ].style.applymap(df_style, subset=bold_row)\
               .applymap(light_style, subset=light_row).set_precision(2).set_precision(2))
display(overview.iloc[:, brk: ].style.applymap(df_style, subset=bold_row)\
               .applymap(light_style, subset=light_row).set_precision(2).set_precision(2))

latex = r"""%s

\pagebreak

\onecolumn
\null
\vfill 
\begin{center}
\includegraphics[width=0.95\columnwidth]{%s}
\null
\vspace{0.5cm}
%% \includegraphics[width=0.95\columnwidth]{%s}
\end{center}
\vfill 
""" % (latex,
      overview_path_1,
      overview_path_2)

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3917052129.py:9: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2).set_precision(2), overview_path_1)
C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3917052129.py:11: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2).set_precision(2), overview_path_2)
C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3917052129.py:14: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2).set_precision(2))

C:\Users\LGI1SGM\AppData\Local\Temp/ipykernel_11664/3917052129.py:16: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  .applymap(light_style, subset=light_row).set_precision(2).set_precision(2))

In [5]:
with open('report_l.tex', 'w') as fid:
    fid.write(r"""
\documentclass[landscape, DIV=99, 14pt]{scrartcl}

\renewcommand*{\familydefault}{\sfdefault}

\RequirePackage{graphicx}
\RequirePackage{hyperref}
\RequirePackage[gen]{eurosym}

\begin{document}

%s

\end{document}
""" % (latex))