In [105]:
import numpy as np
import pandas as pd

In [106]:
spreadsheet_id = '1_r9UF8tqLGP_5HFXEdtEs4cwCEHgMZJm25sLPqW5CUc'
sheet_id = 'Eingaben'
url = f'https://docs.google.com/spreadsheets/d/{spreadsheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_id}'

def german_number(x):
    if x == '':
        return 0
    else:
        return float( x[:-1].replace('.', '').replace(',','.') )
                                 
df = pd.read_csv(url, 
                 index_col=0,
                 usecols=range(16),
                 decimal=',',
                 converters={'Anschaffungskosten [€]': german_number,
                             'Staatliche Förderung [€]': german_number,
                             'Anzahlung [€]': german_number,
                             'Finanzierungszins [%]': german_number,
                             'Restwert [€]': german_number,
                             'Versicherungskosten [€/a]': german_number,
                             'Steuern [€/a]': german_number,
                             'Durchschnittlicher Spritpreis über Haltedauer [€/E]': german_number,
                             'Reparatur und Wartungskosten [€/a]': german_number,
                             'Leasingrate [€]': german_number})
df.tail()

,Name,Anschaffungskosten [€],Staatliche Förderung [€],Anzahlung [€],Finanzierungszins [%],Restwert [€],Versicherungskosten [€/a],Steuern [€/a],Verbrauch in E/100 km,Durchschnittlicher Spritpreis über Haltedauer [€/E],Reparatur und Wartungskosten [€/a],Jahreslaufleistung [km],Haltedauer [a],Leasing,Leasingrate [€]
id,,,,,,,,,,,,,,,
23,Model Y '23,60945.0,4000.0,20945.0,1.91,12000.0,541.02,0.0,17.00,0.31,500.0,15000,7.0,False,0.0
24,Skoda Kodiaq M,38600.0,0.0,18600.0,2.00,15000.0,486.05,230.0,7.95,2.05,1200.0,15000,7.0,False,0.0
25,Renault ZOE,13990.0,0.0,13990.0,0.00,3000.0,500.00,0.0,15.00,0.30,1700.0,3200,6.0,False,0.0
26,MY 24,60170.0,3000.0,15170.0,3.00,10000.0,620.00,0.0,17.00,0.30,500.0,15000,7.0,False,0.0
27,Model 3 Std. '22,43970.0,6000.0,12970.0,1.91,8500.0,613.25,0.0,15.00,0.53,500.0,15000,7.0,False,0.0

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 0 to 27
Data columns (total 15 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Name                                                 28 non-null     object
 1   Anschaffungskosten [€]                               28 non-null     float64
 2   Staatliche Förderung [€]                             28 non-null     float64
 3   Anzahlung [€]                                        28 non-null     float64
 4   Finanzierungszins [%]                                28 non-null     float64
 5   Restwert [€]                                         28 non-null     float64
 6   Versicherungskosten [€/a]                            28 non-null     float64
 7   Steuern [€/a]                                        28 non-null     float64
 8   Verbrauch in E/100 km                                28 non-null     float64
 9   Durchschnittlicher Spritpreis über Haltedauer [€/E]  28 non-null     float64
 10  Reparatur und Wartungskosten [€/a]                   28 non-null     float64
 11  Jahreslaufleistung [km]                              28 non-null     int64
 12  Haltedauer [a]                                       28 non-null     float64
 13  Leasing                                              28 non-null     bool
 14  Leasingrate [€]                                      28 non-null     float64
dtypes: bool(1), float64(12), int64(1), object(1)
memory usage: 3.3+ KB

In [108]:
# import os
# 
# import dataframe_image as dfi
# 
from slugify import slugify
# from pathlib import Path
# from bk import Operating_Cost
# 
# def df_style(val):
#     # return "font-weight: bold; background: yellow"
#     return "font-weight: bold;"
# 
# def index_style(val):
#     # return "font-weight: bold; background: yellow"
#     return "font-weight: bold; text-align: left;"
# 
# def light_style(val):
#     return "color: grey"
# 
import shutil
from pathlib import Path
 
images_path = Path('images2')
if images_path.exists():
    shutil.rmtree(images_path)
images_path.mkdir(parents=True, exist_ok=True)

In [109]:
df.Name

id
0          Model Y '22
1          Mazda 6 '22
2          BMW 3er '11
3         Nissan Micra
4      Mercedes C 220d
5       Mercedes C 200
6       Mercedes C 180
7         Mazda 6 geb.
8             Kia ceed
9         Skoda Superb
10       Skoda Octavia
11     BMW Gran Tourer
12    Skoda Kodiaq TSI
13    Skoda Kodiaq TDI
14           Fiat Tipo
15           VW Passat
16    Model 3 Std. '22
17    Model 3 Std. '22
18           VW Touran
19           VW Touran
20           VW Touran
21            BMW 330i
22    Tesla 3 Std. '23
23         Model Y '23
24      Skoda Kodiaq M
25         Renault ZOE
26               MY 24
27    Model 3 Std. '22
Name: Name, dtype: object

In [110]:
ids = [17, 19, 23, 26]

In [117]:
latex = ''

overview = pd.DataFrame()
overview.name='Monatliche Kosten im Verlgeich'

comparison_columns = ['Preis', 'Kredit',
                      'Raten', 'Vers.', 'Steuern', 'Repar.', 'Verbr.',
                      'Summe', 'Anzahlung', 'Restwert', 'Gesamtsumme']
comparison = pd.DataFrame(columns=comparison_columns)
comparison.index.name='Fahrzeug'

for car in df.iloc[ids].to_dict('records'):
    
    label = car['Name']
    
    if car['Leasing']:
        
        title = label + ', Leasing'
        bk_inputs = {'instalment' : car['Leasingrate [€]'],
                     'government_funding' : car['Staatliche Förderung [€]'],
                     'down_payment' : car['Anzahlung [€]'],
                     'holding_period' : car['Haltedauer [a]'],
                     'millage_yearly' : car['Jahreslaufleistung [km]'],
                     'consumption' : car['Verbrauch in E/100 km'],
                     'fuel_price' : car['Durchschnittlicher Spritpreis über Haltedauer [€/E]'],
                     'repairs_yearly' : car['Reparatur und Wartungskosten [€/a]'],
                     'taxes_yearly' : car['Steuern [€/a]'],
                     'insurance_yearly' : car['Versicherungskosten [€/a]']}
        (input_values, calc_values) = Operating_Cost.lease(**bk_inputs).get_frames()
        
    else:
        
        title = label + ', Kredit'
        bk_inputs = {'acquisition_cost' : car['Anschaffungskosten [€]'], 
                     'government_funding': car['Staatliche Förderung [€]'],
                     'down_payment': car['Anzahlung [€]'],
                     'holding_period': car['Haltedauer [a]'],
                     'millage_yearly': car['Jahreslaufleistung [km]'],
                     'consumption': car['Verbrauch in E/100 km'],
                     'fuel_price': car['Durchschnittlicher Spritpreis über Haltedauer [€/E]'],
                     'repairs_yearly': car['Reparatur und Wartungskosten [€/a]'],
                     'interest_rate': car['Finanzierungszins [%]'],
                     'taxes_yearly': car['Steuern [€/a]'],
                     'insurance_yearly' : car['Versicherungskosten [€/a]'],
                     'rest_value': car['Restwert [€]']}
        (input_values, calc_values) = Operating_Cost.buy(**bk_inputs).get_frames()
        
    # pepper = sha256(car)[:12]
    input_values_path = images_path / (slugify(label) + '-' + offer_class + '-boundaries_' + '.png')
    calc_df_path = images_path / (slugify(label) + '-' + offer_class + '-calc_df_' + '.png')
    
    comparison = comparison.append(pd.DataFrame(data=[[car['Anschaffungskosten [€]'] * (not car['Leasing']) + car['Anzahlung [€]'] * car['Leasing'] - car['Staatliche Förderung [€]'],
                                                           (car['Anschaffungskosten [€]']-car['Anzahlung [€]']) * (not car['Leasing']),
                                                       calc_values.loc['Raten', 'Monatlich'],
                                                       calc_values.loc['Versicherung', 'Monatlich'],
                                                       calc_values.loc['Steuern', 'Monatlich'],
                                                       calc_values.loc['Reparaturen', 'Monatlich'],
                                                       calc_values.loc['Verbrauch', 'Monatlich'],
                                                       calc_values.loc['Summe', 'Monatlich'],
                                                       calc_values.loc['Anzahlung', 'Monatlich'],
                                                       calc_values.loc['Restwert', 'Monatlich'],
                                                       calc_values.loc['Gesamtsumme', 'Monatlich']
                                                      ]
                                                     ],
                                                columns=comparison_columns,
                                                index=[label]))
    factor = 0.5 ** ( car['Haltedauer [a]']/3 )
    rest_value_thumb_value = r'Restwert nach Faustformel (Kaufpreis $\times$ %.1f\%%): %.2f \euro{}' % \
        (factor*100, car['Anschaffungskosten [€]'] * factor)
    
    latex = r"""%s
\twocolumn

\section*{%s}

\begin{itemize}
    \item Laufzeit: %.0f Jahre
    \item Spritpreis \"uber Haltedauer: %.2f \euro{}/E
    \item %s
\end{itemize}

\pagebreak

\begin{center}
\includegraphics[width=0.5\textheight]{%s}
\null
\vspace{0.5cm}
\includegraphics[width=0.5\textheight]{%s}
\end{center}

\pagebreak

""" %(latex,
      title,
      car['Haltedauer [a]'],
      car['Durchschnittlicher Spritpreis über Haltedauer [€/E]'],
      rest_value_thumb_value,
      input_values_path.as_posix(),
      calc_df_path.as_posix(),
     )
    
    overview[label] = calc_values['Monatlich']
    
    input_values_path.parent.mkdir(parents=True, exist_ok=True)
    
    bold_row = pd.IndexSlice[calc_values.index[(calc_values.index == "Summe") | (calc_values.index == "Gesamtsumme")], :]
    light_row = pd.IndexSlice[calc_values.index[6:], :]
    
    dfi.export(input_values.round(2), str(input_values_path))
    dfi.export(calc_values.style.applymap(df_style, subset=bold_row)\
               .applymap(light_style, subset=light_row).set_precision(2), str(calc_df_path))
#    display(input_values.round(2))
#    display(calc_values.style.applymap(df_style, subset=bold_row)\
#               .applymap(light_style, subset=light_row).set_precision(2))
#

C:\Users\Grzegorz\AppData\Local\Temp/ipykernel_10716/3972547335.py:110: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  dfi.export(calc_values.style.applymap(df_style, subset=bold_row)\

In [118]:
comparison_caption = 'Vergleich der monatlichen Kosten'

In [119]:
comparison = comparison.reset_index().rename(columns={'index':'Fahrzeug'})
comparison.round(2)

,Fahrzeug,Preis,Kredit,Raten,Vers.,Steuern,Repar.,Verbr.,Summe,Anzahlung,Restwert,Gesamtsumme
0,Model 3 Std. '22,1000.00,-0.0,272.00,51.10,0.00,41.67,58.12,422.90,20.83,0.00,443.73
1,VW Touran,39986.31,25000.0,318.19,26.46,7.25,83.33,180.38,615.61,178.41,-89.29,704.74
2,Model Y '23,56945.00,40000.0,509.11,45.08,0.00,41.67,65.88,661.74,201.73,-142.86,720.61
3,MY 24,57170.00,45000.0,594.60,51.67,0.00,41.67,63.75,751.68,144.88,-119.05,777.52

In [120]:
bold_column = pd.IndexSlice[comparison.index , ['Summe']]
index_column = pd.IndexSlice[comparison.index , ['Fahrzeug']]
light_column = pd.IndexSlice[comparison.index, 'Anzahlung':'Gesamtsumme']
#light_row = pd.IndexSlice[['BMW 318d Kredit', 'Nissan Micra Kredit', 'VW up! Leasing'], :]
format_column0 = pd.IndexSlice[comparison.index, 'Preis':'Kredit']
format_column1 = pd.IndexSlice[comparison.index, 'Raten':'Gesamtsumme']

overview_path_1 = images_path / 'overview1.png'

dfi.export(comparison.sort_values('Summe',
                                  ascending=True).style.applymap(df_style, subset=bold_column)\
                                                        .applymap(light_style, subset=light_column)\
                                                        .applymap(index_style, subset=index_column)\
                                                        .format('{:.2f}', subset=format_column0)\
                                                        .format('{:.2f}', subset=format_column1)\
                                                        .hide_index(),
           overview_path_1.as_posix())

#display(comparison.sort_values(comparison_columns[9],
#                               ascending=True).style.applymap(df_style, subset=bold_column)\
#                                                     .applymap(light_style, subset=light_column)\
#                                                     .format('{:.2f}', subset=format_column))

latex = r"""%s

\pagebreak

\onecolumn
\begin{figure}
\centering
%s
\vspace{1em}
\includegraphics[width=0.95\columnwidth]{%s}
\end{figure}
\vfill 

""" % (latex,
       comparison_caption,
       overview_path_1.as_posix())

In [121]:
tex_file = r'report2.tex'
with open(tex_file, 'w', encoding='utf-8') as fid:
    fid.write(r"""
\documentclass[landscape, DIV=99, 14pt]{scrartcl}

\renewcommand*{\familydefault}{\sfdefault}

\RequirePackage{graphicx}
\RequirePackage[utf8]{inputenc}
\RequirePackage{hyperref}
\RequirePackage[gen]{eurosym}
\RequirePackage{multirow}
\RequirePackage{booktabs}
\RequirePackage[table]{xcolor}
\RequirePackage{siunitx}
\RequirePackage{etoolbox}
\RequirePackage{etoolbox}

\setlength{\parindent}{0cm}

\robustify\bfseries
\robustify\itshape

\begin{document}

%s

\end{document}
""" % (latex))

In [122]:
os.system('pdflatex.exe %s' % (tex_file))
os.system('pdflatex.exe %s' % (tex_file))
os.system('start %spdf' % (tex_file[:-3]))

0